input,
select{
    width:150px;
    height:30px;
    border: 1px solid black;
    border-style: inset; 
    border-radius:4%;
    margin: 5px;
}

#but {
    width:120px;
    height:50px;
    border-style:outset;
    border-radius:10%;
    background-color: rgba(222,215,215, 0.8);
    font-weight:bold;
}

#but:hover{
    background-color: rgba(252,255,0, 0.7);
    font-weight:bold;
    cursor:pointer;
}

table{
  margin:auto;
  margin-top: 40px;
}
th{
  background-color: #E6E6E6;
}

th, td{
  border: 1px solid gray;
  height: 25px;
}


td{
  text-align: left;
  padding-left: 3px;
  background-color:#FAFAFA;
}
th:nth-child(2){
  width: 200px;
}
th:nth-child(3){
  width: 100px;
}
th:nth-child(n+4){
  width: 150px;
}

a{
  text-decoration: none;
  padding-left:30px;
}

a:hover{
  color: red;
}

 .back{
        border: 1px solid #D8D5D5;
        border-radius:5px;
        background: rgba(213, 213, 216, 0.6);
        padding:20px;
        margin-right:50px;
        margin-left:50px;
    }